[workspace]
name = "moderner-cv"
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "win-64"]

[tasks]
watch = "typst watch template/cv.typ --root ."
compile = "typst compile template/cv.typ --root ."
compile-thumbnail = "typst compile template/cv.typ assets/thumbnail.png --root ."
pre-commit-run = "pre-commit run -a"

[dependencies]
typst = ">=0.12.0"
typstyle = ">=0.12"
font-otf-fontawesome = "7.*"
typos = "*"
pre-commit = "*"
pre-commit-hooks = "*"
