name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@194d461b21b6c5717c722ffc597fa91ed2ff29fa
      - name: pre-commit
        run: pixi run pre-commit-run --color=always --show-diff-on-failure

  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@194d461b21b6c5717c722ffc597fa91ed2ff29fa
      - name: Use local package
        run: |
          sed -i 's/#import .*/#import "..\/lib.typ": */' template/cv.typ
      - name: Compile
        run: pixi run compile
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: template/cv.pdf
          if-no-files-found: error
      - name: Compile thumbnail
        run: pixi run compile-thumbnail
      - name: Verify git status is clean
        run: |
          git status --porcelain
          git diff --quiet
